
CANVAS_DOMAIN=localhost

HOST_PORT=17380

POSTGRES_PASSWORD=changeme

# Cuenta admin que crea `db:initial_setup`
CANVAS_LMS_ADMIN_EMAIL=admin@example.com
CANVAS_LMS_ADMIN_PASSWORD=changeme
CANVAS_LMS_ACCOUNT_NAME="Mi Institución"

RCE_ECOSYSTEM_KEY=changeme
RCE_ECOSYSTEM_SECRET=changeme

STATSD_HOST=localhost
STATSD_PORT=8125

CANVAS_ENCRYPTION_KEY=changeme
CANVAS_JWT_KEY=changeme

FORCE_SSL=false
